@use "sass:map";

$breakpoints: (
  "mobile-xs": 320px,
  "mobile-s": 480px,
  "mobile": 600px,
  "tablet": 768px,
  "tablet-landscape": 1024px,
  "laptop": 1280px,
  "desktop": 1440px,
  "desktop-wide": 1920px,
);

@mixin breakpoint-up($key) {
  $breakpoint: map.get($breakpoints, $key);
  @if $breakpoint {
    @media (min-width: ($breakpoint)) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for '#{$key}' in $breakpoints.";
  }
}

@mixin breakpoint-down($key) {
  $breakpoint: map.get($breakpoints, $key);
  @if $breakpoint {
    @media (max-width: ($breakpoint - 0.02px)) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for '#{$key}' in $breakpoints.";
  }
}
